.header{
    /* background-color: red; */
    color:white;
    margin-top: -22px;
    display: flex;
    flex-direction: row;
}
.information{
    padding-left: 40px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.btnHolder{
    float: right;
    margin-top: 40px;
    margin-left: 52%;
    display: flex;
    flex-direction: row;
    column-gap: 15px;
}
.btnHolder h4{
    margin-top: 3px;
}
.btnHolder button{
    background-color: #0dd991;    ;
    border-radius: 7px;
    color:black;
    width: 100px;
    height: 30px;
    border-color: #ffffff3c;
    font-size: 13px;
}
.switcher{
    display: flex;
    flex-direction: row;
    padding-left: 40px;
    /* background-color: antiquewhite; */
    background-color: #1b1b2168;
    color: white;
    font-size: 26px;
}
.switchHolder{
    display: flex;
    flex-direction: row;
    column-gap: 150px;
    margin-left: 45%;
    
}
.link{
    color: inherit;
    text-decoration: inherit;
}
.active{
    color: rgb(255, 193, 7);
}

