.containerProfile{
    margin-left: 100px;
    margin-top: 50px;
    font-size: 38px;
    background: radial-gradient(circle, rgba(206, 36, 221, 0.536) 0%, rgba(29, 110, 139, 0.479) 100%);
    position: absolute;
    width: 680px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 8px;
    color: white;
    
}
.containerProfile input{
    width: 250px;
    height: 25px;
    border: none;
    /* color: rgb(94, 20, 163); */
    color: black;
    
    /* background-color: rgba(0, 0, 0, 0.464); */
    font-size: 16px;
    font-weight: 600;
    padding-left: 15px;
}



.buttonEdit{
    position: absolute;
    margin-left:98%;
    margin-top: -18px;
    /* background-color: rgba(0, 0, 0, 0.171); */
    border-radius: 7px;
    /* color: white; */
    width: 100px;
    height: 30px;
    border-color: rgba(0, 0, 0, 0.171);
    font-size: 13px;
}
.buttonConfirm{
    position: absolute;
    margin-left:98%;
    margin-top: -32px;
    /* background-color: rgba(0, 0, 0, 0.171); */
    border-radius: 7px;
    /* color: white; */
    width: 100px;
    height: 30px;
    border-color: rgba(0, 0, 0, 0.171);
    font-size: 13px;
}

.name{
   display: flex;
   flex-direction: row; 
   padding-left: 20px;
   column-gap: 35px;
   margin-bottom: 20px;
}

.bloodGroup{
    margin-bottom: 20px;
    padding-left: 20px;
}
.image{
    margin-left: 860px;
    width: 630px;
   
    position: absolute;
}

.image img{
    margin-left:40px;
    width: 145%;
    animation: floating infinite 5s linear;
    

}
@keyframes floating {
    0% { transform: translate(0,  0px); }
    50%  { transform: translate(0, 45px); }
    100%   { transform: translate(0, -0px); }   
  }
